.customElement#kpi > .content > .tasks > .table > .list > .task {
    position: relative;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: calc(100%);
    height: max-content;

    margin: 0.5vh 0 0 0.5vh;
    padding: 0;

    border-bottom: 0.1vh solid rgb(100, 100, 100, 0.95);
    background: none;

    overflow: visible;

    z-index: 1;
}

.customElement#kpi > .content > .tasks > .table > .list > .task > .tag {

    position: relative;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: calc(15%);
    height: max-content;

    margin: 0.5%;
    padding: 0.2%;

    border: none;
    border-radius: 1vh;

    z-index: 1;
}

.customElement#kpi > .content > .tasks > .table > .list > .task > .tag > span {
    color: rgba(235, 235, 235, 0.9);

    font-family: 'Noto Sans', sans-serif;
    text-transform: none;
    text-decoration: none;
    text-align: center;

    font-size: 2vw;
    line-height: 2vw;
    letter-spacing: 0px;
    font-weight: 400;
    text-shadow: 0 0px 2px rgb(255 255 255 / 35%);
}


.customElement#kpi > .content > .tasks > .table > .list > .task > .description {
    position: relative;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: calc(50%);
    height: max-content;

    margin: 0.5%;
    padding: 0;

    border: none;
    background: none;

    z-index: 1;
}

.customElement#kpi > .content > .tasks > .table > .list > .task > .description > .name {
    position: relative;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: calc(100%);
    height: calc(70%);

    margin: 0;
    padding: 0;

    border: none;
    background: none;

    z-index: 1;
}

.customElement#kpi > .content > .tasks > .table > .list > .task > .description >.name > span {
    color: rgba(235, 235, 235, 0.9);

    font-family: 'Noto Sans', sans-serif;
    text-transform: none;
    text-decoration: none;
    text-align: center;

    font-size: 2.5vw;
    line-height: 2vw;
    letter-spacing: 0px;
    font-weight: 400;
    text-shadow: 0 0px 2px rgb(255 255 255 / 35%);
}


.customElement#kpi > .content > .tasks > .table > .list > .task > .description > .comment {
    position: relative;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: calc(100%);
    height: calc(30%);

    margin: 0;
    padding: 0;

    border: none;
    background: none;

    z-index: 1;
}

.customElement#kpi > .content > .tasks > .table > .list > .task > .description > .comment > span {
    color: rgba(235, 235, 235, 0.6);

    font-family: 'Noto Sans', sans-serif;
    text-transform: none;
    text-decoration: none;
    text-align: center;

    font-size: 2vw;
    line-height: 2vw;
    letter-spacing: 0px;
    font-weight: 400;
    text-shadow: 0 0px 2px rgb(155 155 155 / 35%);
}


.customElement#kpi > .content > .tasks > .table > .list > .task > .date {
    position: relative;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: calc(23.5%);
    height: max-content;

    margin: 0.5%;
    padding: 0;

    border: none;
    background: none;

    z-index: 1;
}


.customElement#kpi > .content > .tasks > .table > .list > .task > .date > .day {
    position: relative;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: calc(100%);
    height: calc(70%);

    margin: 0;
    padding: 0;

    border: none;
    background: none;

    z-index: 1;
}

.customElement#kpi > .content > .tasks > .table > .list > .task > .date >.day > span {
    color: rgba(235, 235, 235, 0.9);

    font-family: 'Noto Sans', sans-serif;
    text-transform: none;
    text-decoration: none;
    text-align: center;

    font-size: 2vw;
    line-height: 2vw;
    letter-spacing: 0px;
    font-weight: 400;
    text-shadow: 0 0px 2px rgb(255 255 255 / 35%);
}


.customElement#kpi > .content > .tasks > .table > .list > .task > .date > .time {
    position: relative;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: calc(100%);
    height: calc(30%);

    margin: 0;
    padding: 0;

    border: none;
    background: none;

    z-index: 1;
}

.customElement#kpi > .content > .tasks > .table > .list > .task > .date > .time > span {
    color: rgba(235, 235, 235, 0.9);

    font-family: 'Noto Sans', sans-serif;
    text-transform: none;
    text-decoration: none;
    text-align: center;

    font-size: 2vw;
    line-height: 2vw;
    letter-spacing: 0px;
    font-weight: 400;
    text-shadow: 0 0px 2px rgb(255 255 255 / 35%);
}


.customElement#kpi > .content > .tasks > .table > .list > .task > .numberOfPoints {

    position: relative;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: calc(10%);
    height: max-content;

    margin: 0;
    padding: 0;

    border: none;
    background: none;

    z-index: 1;
}

.customElement#kpi > .content > .tasks > .table > .list > .task > .numberOfPoints > span {
    color: rgba(235, 235, 235, 0.9);

    font-family: 'Noto Sans', sans-serif;
    text-transform: none;
    text-decoration: none;
    text-align: center;

    font-size: 2vw;
    line-height: 2vw;
    letter-spacing: 0px;
    font-weight: 400;
    text-shadow: 0 0px 2px rgb(255 255 255 / 35%);
}

