.customElement#department {
  position: absolute;

  top: 0%;
  left: 0%;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: calc(100%);
  height: max-content;

  margin: 0px;
  padding: 0px;

  border: none;
  background: none;

  z-index: 1;
}

.customElement#department > .main {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: calc(95%);
  height: calc(30vh);

  margin: 10px 0px 0px 0px;
  /* padding: 10px 10px 10px 10px; */
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 0px;

  border: none;
  border-radius: 30px 30px 30px 30px;
  background: rgba(15, 15, 15, 0.9);

  z-index: 1;
}
.customElement#department > .main::-webkit-scrollbar {
  display: none;
  width: 0px;
}
.customElement#department > .main::-webkit-scrollbar-track {
  display: none;
}
.customElement#department > .main::-webkit-scrollbar-thumb {
  display: none;
}

.customElement#department > .main > .content {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  width: calc(100%);
  height: calc(100%);

  margin: 0px;
  padding: 10px 10px 10px 10px;

  border: none;
  background: none;

  z-index: 1;
}

.customElement#department > .main > .content > .preview {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: calc(30%);
  height: calc(100%);

  margin: 0px;
  padding: 0px;

  border: none;
  background: none;

  z-index: 1;
}

.customElement#department > .main > .content > .preview > .avatar {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: calc(100%);
  height: calc(84%);

  margin: 0px;
  margin-top: 10px;
  padding: 0px;

  border: none;
  background: none;

  z-index: 1;
}

.customElement#department > .main > .content > .preview > .avatar > img {
  position: relative;

  display: block;

  max-width: calc(100%);
  width: auto;
  max-height: calc(100%);
  height: auto;

  margin: 0px;
  padding: 0px;

  border: none;
  border-radius: 20px 20px 20px 20px;
  background: none;

  z-index: 1;
}

.customElement#department > .main > .content > .info {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: calc(66%);
  height: calc(100%);

  margin: 0px;
  padding: 0px;

  border: none;
  background: none;

  z-index: 1;
}

.customElement#department > .main > .content > .info > .main {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: calc(100%);
  height: calc(100%);

  margin: 0px;
  padding: 0px;

  border: none;
  background: none;

  z-index: 1;
}

.customElement#department > .main > .content > .info > .main > .credentials {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  width: calc(100%);
  height: calc(60%);

  margin: 0px;
  padding: 0px;

  border: none;
  background: none;

  z-index: 1;
}

.customElement#department > .main > .content > .info > .main > .credentials > .name {
  position: relative;
  color: rgba(255, 57, 57, 0.85);
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  font-family: 'Noto Sans', sans-serif;
  text-transform: none;
  text-decoration: none;
  text-align: left;

  font-size: 5vw;
  line-height: 5vw;
  letter-spacing: 0px;
  font-weight: 400;
  text-shadow: 0 0px 2px rgb(255 255 255 / 10%);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  width: calc(75%);
  height: calc(100% - 50px);

  margin: 10px 0px 0px 0px;
  padding: 0px;

  border: none;
  background: none;

  z-index: 1;
}

.customElement#department > .main > .content > .info > .main > .JB{
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  /* flex-direction: row; */
  justify-content: left;
  align-items: left;

  width: max-content;
  height: max-content;
  margin-top: 3px;
  margin-right: 130px;
  /* margin: 0px; */
  padding: 0px;

  border: none;
  background: none;

  z-index: 1;

}

.customElement#department > .main > .content > .info > .main > .JB > button.join {

  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: calc(1%);

  margin: 15px 0px 10px 0px;
  padding: 10px 70px 10px 70px;

  border: none;
  border-radius: 30px 30px 30px 30px;
  background: rgba(255, 57, 57, 0.85);

  z-index: 1;

}

.customElement#department > .main > .content > .info > .main > .JB > button.join > span {
  color: rgba(235, 235, 235, 0.9);

  font-family: 'Noto Sans', sans-serif;
  text-transform: none;
  text-decoration: none;
  text-align: center;

  font-size: 3vw;
  line-height: 3vw;
  letter-spacing: 0px;
  font-weight: 400;
  text-shadow: 0 0px 2px rgb(255 255 255 / 35%);
}

.customElement#department > .main > .content > .info > .main > .credentials > .peopleKPI{
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  /* justify-content: space-between;
  align-items: flex-start; */

  width: calc(100%);
  height: calc(100%);

  margin: 0px;
  padding: 0px;

  border: none;
  background: none;

  z-index: 1;
}

.customElement#department > .main > .content > .info > .main > .credentials > .peopleKPI > .people{
  position: relative;


  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;



  width: calc(100%);
  height: max-content;

  /* margin: 10px; */
  margin-top: 12px;
  margin-bottom: 3px;
  margin-right: 0px;
  margin-left: 15px;
  padding: 0px;

  border: none;
  background: none;


  z-index: 1;

}

.customElement#department > .main > .content > .info > .main > .credentials > .peopleKPI >  .people > span{
color: white;
font-family: 'Noto Sans', sans-serif;
text-transform: none;
text-decoration: none;
text-align: center;
}

.customElement#department > .main > .content > .info > .main > .credentials > .peopleKPI > .kpi {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: row;
  justify-content: center;
  align-items: row;

  width: calc(40%);
  height: calc(100%);

  margin: 0px;
  margin-right: 0px;
  padding: 0px;

  border: none;
  background: none;

  z-index: 1;
}

.customElement#department > .main > .content > .info > .main > .credentials > .peopleKPI > .kpi > img {
  position: relative;

  display: block;

  max-width: calc(100%);
  width: auto;
  max-height: calc(100%);
  height: auto;

  margin: 0px;
  margin-left: 75px;
  padding: 0px;

  border: none;
  background: none;

  z-index: 1;
}

.customElement#department > .main > .content > .info > .main > .credentials > .peopleKPI >  .kpi > .value {
  position: absolute;
  top: 76%;
  left: 28%;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: calc(100%);
  height: max-content;

  margin: 0px;
  margin-left: 49px;
  padding: 0px;

  border: none;
  background: none;

  transform: translateX(-50%);

  z-index: 1;
}

.customElement#department > .main > .content > .info > .main > .credentials > .peopleKPI > .kpi > .value > span {
  /* color: rgba(180, 180, 180, 0.8); */
color: white;
  font-family: 'Noto Sans', sans-serif;
  text-transform: none;
  text-decoration: none;
  text-align: center;

  font-size: 2.6vw;
  line-height: 2.2vw;
  letter-spacing: 0px;
  font-weight: 400;
  text-shadow: 0 0px 2px rgb(255 255 255 / 35%);
}

.customElement#department > .main > .content > .info > .main > .info {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: calc(100%);
  height: calc(25% - 40px);

  margin: 0px 0px 0px 0px;
  padding: 0px;

  border: none;
  background: none;

  z-index: 1;
}

.customElement#department > .main > .content > .info > .main > .info > .description {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: max-content;
  height: max-content;

  margin: 0px;
  padding: 0px;

  border: none;
  background: none;

  z-index: 1;
}

.customElement#department > .main > .content > .info > .main > .info > .description > span {
  color: rgba(235, 235, 235, 0.9);

  font-family: 'Noto Sans', sans-serif;
  text-transform: none;
  text-decoration: none;
  text-align: center;

  font-size: 2.6vw;
  line-height: 2.6vw;
  letter-spacing: 0px;
  font-weight: 400;
  text-shadow: 0 0px 2px rgb(255 255 255 / 35%);
}

.customElement#department > .main > .content > .info > .roles {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: calc(100%);
  height: calc(12%);

  margin: 0px;
  padding: 0px;

  border: none;
  background: none;

  overflow-x: auto;
  overflow-y: hidden;

  z-index: 1;
}
.customElement#department > .main > .content > .info > .roles::-webkit-scrollbar {
  display: none;
  width: 0px;
}
.customElement#department > .main > .content > .info > .roles::-webkit-scrollbar-track {
  display: none;
}
.customElement#department > .main > .content > .info > .roles::-webkit-scrollbar-thumb {
  display: none;
}

.customElement#department > .admin-access {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: calc(95%);
  height: max-content;

  margin: 10px 0px 0px 0px;
  padding: 10px 10px 10px 10px;

  border: none;
  border-radius: 30px 30px 30px 30px;
  background: rgba(15, 15, 15, 0.9);

  z-index: 1;
}

.customElement#department > .admin-access > .teams {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: calc(100%);
  height: max-content;

  margin: 0px;
  padding: 10px 10px 30px 10px;

  border: none;
  background: none;

  z-index: 1;
}
.customElement#department > .admin-access > .teams::after {
  position: absolute;

  top: 100%;
  left: 50%;

  display: block;

  content: '';

  width: calc(95%);
  height: calc(2px);

  margin: 0px;
  padding: 0px;

  border: none;
  background: rgba(210, 210, 210, 0.8);

  transform: translateX(-50%);
}

.customElement#department > .admin-access > .teams > .departments {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: calc(100%);
  height: max-content;

  margin: 0px 0px 8px 0px;
  padding: 0px;

  border: none;
  background: none;

  overflow-x: auto;
  overflow-y: hidden;

  z-index: 1;
}
.customElement#department > .admin-access > .teams > .departments::-webkit-scrollbar {
  display: none;
  width: 0px;
}
.customElement#department > .admin-access > .teams > .departments::-webkit-scrollbar-track {
  display: none;
}
.customElement#department > .admin-access > .teams > .departments::-webkit-scrollbar-thumb {
  display: none;
}

.customElement#department > .admin-access > .teams > .departments > .list {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: max-content;
  height: max-content;

  margin: 0px;
  padding: 0px;

  border: none;
  background: none;

  z-index: 1;
}

.customElement#department > .admin-access > .teams > .projects {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: calc(100%);
  height: max-content;

  margin: 8px 0px 0px 0px;
  padding: 0px;

  border: none;
  background: none;

  overflow-x: auto;
  overflow-y: hidden;

  z-index: 1;
}
.customElement#department > .admin-access > .teams > .projects::-webkit-scrollbar {
  display: none;
  width: 0px;
}
.customElement#department > .admin-access > .teams > .projects::-webkit-scrollbar-track {
  display: none;
}
.customElement#department > .admin-access > .teams > .projects::-webkit-scrollbar-thumb {
  display: none;
}

.customElement#department > .admin-access > .teams > .projects > .list {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: max-content;
  height: max-content;

  margin: 0px;
  padding: 0px;

  border: none;
  background: none;

  z-index: 1;
}

.customElement#department > .admin-access > .attendance {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: calc(100%);
  height: calc(25vh);

  margin: 0px;
  padding: 0px;

  border: none;
  background: none;

  z-index: 1;
}
/* .customElement#department > .admin-access > .attendance::after {
  position: absolute;

  top: 100%;
  left: 50%;

  display: block;

  content: '';

  width: calc(95%);
  height: calc(2px);

  margin: 0px;
  padding: 0px;

  border: none;
  background: rgba(210, 210, 210, 0.8);

  transform: translateX(-50%);
} */

.customElement#department > .admin-access > .attendance > .events {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: calc(100%);
  height: calc(100%);

  margin: 0px;
  padding: 10px 10px 10px 10px;

  border: none;
  border-radius: 20px 20px 20px 20px;
  background: rgba(15, 15, 15, 0.9);

  overflow-x: hidden;
  overflow-y: auto;

  z-index: 1;
}

.customElement#department > .admin-access > .attendance > .events > .title {
  position: relative;
  color: rgba(255, 57, 57, 0.85);
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  font-family: 'Noto Sans', sans-serif;
  text-transform: none;
  text-decoration: none;
  text-align: center;

  font-size: 4vw;
  line-height: 3vw;
  letter-spacing: 2px;
  font-weight: 400;
  text-shadow: 0 0px 2px rgb(255 255 255 / 10%);
  align-items: flex-start;

  width: auto;
  height: auto;

  margin: 0px 0px 0px 0px;
  margin-bottom: 5px;;
  padding: 0px;

  border: none;
  background: none;

  z-index: 1;

}

.customElement#department > .admin-access > .attendance > .events::-webkit-scrollbar {
  display: none;
  width: 0px;
}
.customElement#department > .admin-access > .attendance > .events::-webkit-scrollbar-track {
  display: none;
}
.customElement#department > .admin-access > .attendance > .events::-webkit-scrollbar-thumb {
  display: none;
}

.customElement#department > .admin-access > .attendance > .events > .list {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: calc(100%);
  height: max-content;

  margin: 0px;
  padding: 0px;

  border: none;
  background: none;

  z-index: 1;
}

.customElement#department > .members {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: calc(95%);
  height: calc(55vh);

  margin: 10px 0px 0px 0px;
  padding: 10px 10px 10px 10px;

  border: none;
  border-radius: 30px 30px 30px 30px;
  background: rgba(15, 15, 15, 0.9);

  z-index: 1;
} 

.customElement#department > .members > .list {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: calc(100%);
  height: calc(100%);

  margin: 0px;
  padding: 10px 10px 10px 10px;

  border: none;
  border-radius: 20px 20px 20px 20px;
  background: rgba(15, 15, 15, 0.9);

  overflow-x: hidden;
  overflow-y: auto;

  z-index: 1;
}

.customElement#department > .members > .list > .title {
  position: relative;
  color: rgba(255, 57, 57, 0.85);
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  font-family: 'Noto Sans', sans-serif;
  text-transform: none;
  text-decoration: none;
  text-align: center;

  font-size: 4vw;
  line-height: 3vw;
  letter-spacing: 2px;
  font-weight: 400;
  text-shadow: 0 0px 2px rgb(255 255 255 / 10%);
  align-items: flex-start;

  width: auto;
  height: auto;

  margin: 0px 0px 0px 0px;
  margin-bottom: 5px;;
  padding: 0px;

  border: none;
  background: none;

  z-index: 1;

}

.customElement#department > .members > .list::-webkit-scrollbar {
  display: none;
  width: 0px;
}
.customElement#department > .members > .list::-webkit-scrollbar-track {
  display: none;
}
.customElement#department > .members > .list::-webkit-scrollbar-thumb {
  display: none;
}
