.customElement#department > .members > .list > .member{
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: calc(100%);
  height: max-content;

  margin: 2px 0px 2px 0px;
  padding: 3px 8px 3px 8px;

  border: none;
  border-radius: 6px;
  background: none;

  overflow: visible;

  z-index: 1;
}

.customElement#department > .members > .list > .member > .info{
  width: calc(100%);
  height: max-content;
}

.customElement#department > .members > .list > .member:first-child {
  margin: 0px 0px 2px 0px;
}
.customElement#department > .members > .list > .member:last-child {
  margin: 2px 0px 0px 0px;
}

.customElement#department >.members > .list > .member> .info {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: calc(100%);
  height: max-content;

  margin: 0px;
  padding: 0px;

  border: none;
  background: none;

  z-index: 1;
}

.customElement#department > .members > .list > .member > .info > .name {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  /* width: calc(100%); */
  height: max-content;

  margin: 0px;
  margin-right: 15px;
  padding: 0px;

  border: none;
  background: none;

  z-index: 1;
}

.customElement#department >  .members > .list > .member > .info > .name > span {
  color: rgba(235, 235, 235, 0.9);

  font-family: 'Noto Sans', sans-serif;
  text-transform: none;
  text-decoration: none;
  text-align: center;

  font-size: 2.6vw;
  line-height: 2.2vw;
  letter-spacing: 0px;
  font-weight: 400;
  text-shadow: 0 0px 2px rgb(255 255 255 / 35%);
}

.customElement#department > .members > .list > .member > .info > .surnamename {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  width: calc(100%);
  height: max-content;

  margin: 0px;
  margin-left: 0px;
  padding: 0px;

  border: none;
  background: none;

  z-index: 1;
}

.customElement#department >  .members > .list > .member > .info > .surname > span {
  color: rgba(235, 235, 235, 0.9);

  font-family: 'Noto Sans', sans-serif;
  text-transform: none;
  text-decoration: none;
  text-align: center;

  font-size: 2.6vw;
  line-height: 2.2vw;
  letter-spacing: 0px;
  font-weight: 400;
  text-shadow: 0 0px 2px rgb(255 255 255 / 35%);
}

.customElement#department >  .members > .list > .member > .info > .phone {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: calc(100%);
  height: max-content;

  margin: 0px;
  padding: 0px;

  border: none;
  background: none;

  z-index: 1;
}

.customElement#department >.members > .list > .member > .info > .phone > span {
  color: rgba(235, 235, 235, 0.9);

  font-family: 'Noto Sans', sans-serif;
  text-transform: none;
  text-decoration: none;
  text-align: center;

  font-size: 2.6vw;
  line-height: 2.2vw;
  letter-spacing: 0px;
  font-weight: 400;
  text-shadow: 0 0px 2px rgb(255 255 255 / 35%);
}

.customElement#department > .members > .list > .member > .info > .time {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: auto;
  height: max-content;

  margin: 0px;
  padding: 0px;

  border: none;
  background: none;

  z-index: 1;
}

.customElement#department > .member > .list > .member > .info > .time > span {
  color: rgba(235, 235, 235, 0.9);

  font-family: 'Noto Sans', sans-serif;
  text-transform: none;
  text-decoration: none;
  text-align: center;

  font-size: 2vw;
  line-height: 2vw;
  letter-spacing: 0px;
  font-weight: 400;
  text-shadow: 0 0px 2px rgb(255 255 255 / 35%);
}
/* .customElement#department > .member > button.message { 
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: calc(70%);
  height: calc(100%);

  margin: 0px;
  padding: 0px;

  border: none;
  border-radius: 18px;
  background: red;

  z-index: 1;
}

.member > button.message{
  
} */
/* .customElement#department > .admin-access > .attendance > .member > .list > .member > .status {
  position: relative;

  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: calc(8%);
  height: max-content;

  margin: 0px;
  padding: 0px;

  border: none;
  background: none;

  z-index: 1;
}

.customElement#department > .admin-access > .attendance > .member > .list > .member > .status > span {
  color: rgba(235, 235, 235, 0.9);

  font-family: 'Noto Sans', sans-serif;
  text-transform: none;
  text-decoration: none;
  text-align: center;

  font-size: 2.2vw;
  line-height: 2.2vw;
  letter-spacing: 0px;
  font-weight: 400;
  text-shadow: 0 0px 2px rgb(255 255 255 / 35%);
} */
