.customElement#projectForm {
  position: fixed;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;


  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: calc(100%);
  height: calc(100%);

  margin: 0px;
  padding: 0px;

  border: none;
  background: none;
  transform: translateY(-15%);

  z-index: 1;
}

.customElement#projectForm > .form {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: calc(90%);
  height: calc(50%);

  margin: 0px;
  padding: 0px;

  border: none;
  border-radius: 3vh;
  background: rgba(255, 255, 255, 1);

  z-index: 999999;

}
.customElement#projectForm > .form > .header {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: calc(100%);
  height: calc(15%);

  margin: 0px;
  padding: 0.2vh 2vw 0.2vh 2vw;

  border: none;
  background: none;

  z-index: 999999;

}
.customElement#projectForm > .form > .header > span {
  color: crimson;
  font-size: 5vw;
  margin: 0 0 0 3vw;
}
.customElement#projectForm > .form > .header > button.close {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  appearance: none;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0px;
  padding: 0px;
  cursor: pointer;

  width: calc(8%);
  height: calc(50%);

  border-radius: 0px;

  text-decoration: none;
  background: none;
  border: none;
}
.customElement#projectForm > .form > .header > button.close:hover:not(:active) {
  background: none;
}
.customElement#projectForm > .form > .header > button.close:hover:active {
  top: 2px;
}
.customElement#projectForm > .form > .content {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: calc(95%);
  height: calc(15%);

  margin: 0px;
  padding: 0.2vh 2vw 0.2vh 2vw;

  border: none;
  background: none;

  z-index: 999999;
}
.customElement#projectForm > .form > .content > .name {
  color: darkslateblue;
  font-size: 3.5vw;
  margin: 0 2vw 5vh 3vw;

}

.customElement#projectForm > .form > .content > .name[is-valid='false'] {
  border-bottom: 3px solid crimson;
}

.customElement#projectForm > .form > .content > .leader {
  color: darkslateblue;
  font-size: 3.5vw;
  margin: 0 2vw 5vh 3vw;

}
.customElement#projectForm > .form > .content >.leader > .users {
  position: absolute;
  top: 0%;
  left: 0%;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: calc(100%);
  height: max-content;

  margin: 0px;
  padding: 0.2vh 2vw 0.2vh 2vw;

  border: none;
  background: none;

  z-index: 1;
}

.customElement#projectForm > .form > .content >.leader > .users > .list {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: calc(100%);
  height: calc(100%);

  margin: 0px;
  padding: 0px;

  border: none;
  background: none;

  z-index: 1;
}

.customElement#projectForm > .form > .content >.leader > .users > .list > .user {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  width: calc(100%);
  height: max-content;

  margin: 0.2vh 2vw 0.2vh 2vw;
  padding: 0px;

  border: none;
  background: none;

  z-index: 1;
}

.customElement#projectForm > .form > .footer {
  position: relative;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

}


