.customElement#projectForm > .form > form > .content > .leader:hover > .list1 > .user {
    position: relative;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    width: calc(96%);
    height: calc(100%);

    margin: 2%;
    padding: 0;

    border: none;
    background: none;

    z-index: 1;
}

.customElement#projectForm > .form > form > .content > .leader:hover > .list1 > .user > .firstName {
    position: relative;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: max-content;
    height: calc(100%);

    margin: 0 1% 0;
    padding: 0;

    border: none;
    background: none;

    z-index: 1;
}

.customElement#projectForm > .form > form > .content > .leader:hover > .list1 > .user > .firstName > span {
    color: rgba(235, 235, 235, 0.9);

    font-family: 'Noto Sans', sans-serif;
    text-transform: none;
    text-decoration: none;
    text-align: start;

    font-size: 3vw;
    line-height: 2vw;
    letter-spacing: 0px;
    font-weight: 400;
    text-shadow: 0 0px 2px rgb(255 255 255 / 35%);
}

.customElement#projectForm > .form > form > .content > .leader:hover > .list1 > .user > .secondName {
    position: relative;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: max-content;
    height: calc(100%);

    margin: 0 1% 0 0;
    padding: 0;

    border: none;
    background: none;

    z-index: 1;
}

.customElement#projectForm > .form > form > .content > .leader:hover > .list1 > .user > .secondName > span {
    color: rgba(235, 235, 235, 0.9);

    font-family: 'Noto Sans', sans-serif;
    text-transform: none;
    text-decoration: none;
    text-align: start;

    font-size: 3vw;
    line-height: 2vw;
    letter-spacing: 0px;
    font-weight: 400;
    text-shadow: 0 0px 2px rgb(255 255 255 / 35%);
}

.customElement#projectForm > .form > form > .content > .leader:hover > .list1 > .user > .thirdName {
    position: relative;

    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: max-content;
    height: calc(100%);

    margin: 0 1% 0;
    padding: 0;

    border: none;
    background: none;

    z-index: 1;
}

.customElement#projectForm > .form > form > .content > .leader:hover > .list1 > .user > .thirdName > span {
    color: rgba(235, 235, 235, 0.9);

    font-family: 'Noto Sans', sans-serif;
    text-transform: none;
    text-decoration: none;
    text-align: start;

    font-size: 3vw;
    line-height: 2vw;
    letter-spacing: 0px;
    font-weight: 400;
    text-shadow: 0 0px 2px rgb(255 255 255 / 35%);
}